

#h{
    color:red;
    margin-left: 130PX;

}

.dashboard, .trending, .account{
    margin-left: 130px;
    width: 130%;
}

.trending{
    display: none;
}

.account{
    display: none;
}

/* ✅ CONTENT SIDE CSS */

#header{
    font-size: 20px;
    font-weight: bolder;
    margin-top:30px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white ;
    border-radius: 20px;
    width: fit-content;
}

.dash_top{
    display: inline;
   width: 100%;
}

.calender{
    height: 30px;
    width:30px;
    margin-top: 30px;
    margin-left:70%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.notification{
    height: 30px;
    width:30px;
    margin-top: 30px;
   margin-left: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}


.calender:hover, .notification:hover{
    background-color: #eee;
}

.one{
    display: inline-flex;
}



/* #premium{
    font-size: 20px;
    font-weight: bolder;
    margin-top:30px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white ;
    border-radius: 20px;
    width: 140px;
}

.two{
    display: inline-flex;
}

.pro1{
    height: 110px;
    width: 200px;
    background-color: white;
    margin-left: 30px;
    border-radius: 20PX;
    
}

.pro1:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}

.twitter{
    margin-top: 10px;

    
} */

#t_tool_name{
    font-size: 17px;
    font-weight: bold;
    margin-top: -3px;
}

#model-close{
    height: 35px;
    width: 120px;
    background-color: rgb(255, 98, 98);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    bottom: 0px;
}

