#h{
    color:red;
    margin-left: 130PX;

}

.dashboard, .trending, .account{
    margin-left: 130px;
}

.trending{
    display: none;
}

.account{
    display: none;
}

/* ✅ CONTENT SIDE CSS */

#header{
    font-size: 20px;
    font-weight: bolder;
    margin-top:30px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white ;
    border-radius: 20px;
    width: auto;
}

.dash_top{
    display: inline-flex;
    width: 100%;
}

.notification{
    height: 30px;
    width:30px;
    margin-top: 30px;
   
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.calender{
    height: 30px;
    width:30px;
    float:right;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}


.one{
    display: inline-flex;
}

.progress1{
    height: 150px;
    width: 300px;
    background-color: white;
    margin-left: 30px;
    border-radius: 20PX;
}

#premium{
    font-size: 20px;
    font-weight: bolder;
    margin-top:30px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white ;
    border-radius: 20px;
    width: 140px;
}

.two{
    display: inline-flex;
}

.pro1{
    height: 110px;
    width: 200px;
    background-color: white;
    margin-left: 30px;
    border-radius: 20PX;
    
}

.pro1:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}

.twitter{
    margin-top: 10px;

    
}

#t_tool_name{
    font-size: 17px;
    font-weight: bold;
    margin-top: -3px;
}

