.sidenav{
  height: 100%;
  width: 110px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.5s;
}

.user{
  width: 100px;
 
}

.profile{
  margin-left: 10px;
  margin-top: 10px;

}

.nam{
  font-weight: bold;
  font-size: 18px;
  width: 250px;
  text-align: center;
  outline: none;
  border: none;
  margin-top: -58px;
  margin-left: 30px;
  display: none;
}

.mail{
  margin-top: -15px;
  margin-left: 93px;
  font-size: 14px;
  color: grey;
  display: none;
}

ul{
  list-style: none;
  padding:0 15px;
 
}

ul li{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

ul li img{
  margin-left: 30px;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

ul li p{
 margin-left: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
  display: none;
}

/* HOVER  */

.sidenav:hover{
  width: 250px;
}

.sidenav:hover .nam{
  display: block;
  
}

.sidenav:hover .mail{
  display: block;
}

.sidenav:hover ul li p{
  display: block;
}

.sidenav:hover ul li img{
  margin: 0;
}