body{
    background-color:  rgb(243,239,229);
}

#mainImg{
    margin-top: 150px;
    margin-left: 200px;
}

.wrapper{
    height: 300px;
    width: 400px;
    background-color: white;
    margin-top: -370px;
    margin-left: 800px;
    border-radius: 15px;
}

hr{
margin-top: 10px;
width: 90%;
border: none;
height: 1px;
background: #000;
background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}

#verified{
    margin-top: 20px;
    margin-left:-120px;
    height: 30px;
    width: 30px;
}

.top{
    
    justify-content: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    margin-top: -30px;
    margin-left: 50px;
}

#name{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    font-size: 20px;
}

#email{
    margin-top: -20px;
    color: grey;
    font-size: 40px;
    font-weight: bold;
    font-size: 20px;
}

#hr1{
margin-top: 40px;
width: 90%;
border: none;
height: 1px;
background: #000;
background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}